@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import "tailwindcss";

@theme {
  --color-theme: #ff5757;
  --color-theme-alt: #ff6b7b;
  --color-theme-w: #ffffff;
  --color-theme-w-alt: #efefef;
  --color-theme-black: #111111;
  --color-theme-black-alt: #222222;
  --color-theme-green: #11ee11;
  --color-theme-red: #ee1111;
  --color-theme-gray: #787878;
  --font-main: "League Spartan", sans-serif;
  --font-main-alt: "Rubik", sans-serif;
  --text-s: 0.85rem;
  --text-vs: 0.75rem;
  --text-vse9: 0.9em;

  --animate-wiggle: wiggle 3s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }

  @keyframes gradient {
    0%,
    100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }

  --animate-gradient-x: gradient 6s ease infinite;
}
